.navContainer {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  h1 {
    color: #faa500;
    font-size: 2.5rem;
    padding: 15px;
    margin-left: 5%;
    border: 2px solid #faa500;
  }

  .link-holder {
    margin-left: auto;
    margin-right: 60px;
    padding: 30px;

    .link {
      color: #fff;
      display: inline-block;
      padding: 10px;
      text-decoration: none;

      &:hover {
        color: #faa500;
        text-decoration: underline 3px solid #faa500;
        text-underline-offset: 0.5em;
      }
    }
  }
}
